<h1 *ngIf="contadorLanzamientos > 0">Lanzamientos: {{contadorLanzamientos}}</h1>
<button type="button" (click)="Ordenar('ASC')">Ordenar fecha ASC</button> 
<button type="button" (click)="Ordenar('DESC')">Ordenar fecha DESC</button> 
<br>
<ol>
  <li *ngFor="let lanzamiento of lanzamientos; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"
    (click)="onLanzamientoSeleccionado(lanzamiento.id)" routerLink="/lanzamiento/{{lanzamiento.id}}">
  <h3>{{lanzamiento.name}}</h3>
  <p>{{lanzamiento | json}}</p>
  </li>
</ol>

<!-- <li>
  <img src="http://lorempixum.com/100/100/nature/4" >
  <h3>Headline</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
</li> -->